.playlist {
    padding: 2rem;
    border-radius: 1rem;
    position: relative;
    z-index: 2;
    box-shadow: 0 0 5rem rgba(0, 0, 0, 0.6);
    min-height: 20rem;
    max-width: 50%;
}

.playlist__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.playlist__title {
    font-size: 1.5rem;
    font-weight: 400;
}

.playlist__description {
    font-size: small;
    font-weight: 300;
    margin-bottom: 2rem;
}

.audio__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

.audio {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1rem;
}

.audio:not(:last-child) {
    border-bottom: 1px solid #535353;
    padding-bottom: 1rem;
}

.audio__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.audio__title {
    font-size: .825rem;
}

.audio__signer {
    font-size: .725rem;
    color: #a3a3a3;
}

.audio__duration {
    font-size: .625rem;
    font-weight: 600;
    color: #a3a3a3;
}

.background {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to right, #2b2b2b, #405b5c);
    display: flex;
    flex-grow: 1;
    z-index: -1;
    border-radius: 1rem;
}

.background div {
    position: absolute;
    border-radius: 100%;
    height: 0;
    filter: blur(240vw);
    opacity: 0.4;
}

.background div:nth-child(1) {
    background: linear-gradient(132deg, #1FCFC3 0.00%, #1F91CF 100.00%);
    width: 30%;
    padding-top: 30%;
    left: 20%;
    top: 20%;
    transform: translateX(-50%) translateY(-50%);
}

.background div:nth-child(2) {
    background: linear-gradient(132deg, #0800FF 0.00%, #E32BE3 100.00%);
    width: 40%;
    padding-top: 40%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.background div:nth-child(3) {
    background: linear-gradient(132deg, #1FCFC3 0.00%, #1F91CF 100.00%);
    width: 30%;
    padding-top: 30%;
    left: 80%;
    top: 80%;
    transform: translateX(-50%) translateY(-50%);
}

.background div:nth-child(4) {
    background: linear-gradient(132deg, #4a4f6c 0.00%, #f6ffa2 100.00%);
    width: 44%;
    padding-top: 44%;
    left: 52%;
    top: 58%;
    transform: translateX(-50%) translateY(-50%);
}

.background div:nth-child(5) {
    background: linear-gradient(132deg, #737142 0.00%, #fe8145 100.00%);
    width: 42%;
    padding-top: 42%;
    left: 93%;
    top: 43%;
    transform: translateX(-50%) translateY(-50%);
}

.background div:nth-child(6) {
    background: linear-gradient(132deg, #b1f7c7 0.00%, #ba4943 100.00%);
    width: 76%;
    padding-top: 76%;
    left: 7%;
    top: 78%;
    transform: translateX(-50%) translateY(-50%);
}

.login__warning {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Blurry background */
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(.5rem);
    border-radius: 1rem;
}

.login__warning_title {
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
}

.add__button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: .5rem;
    padding: .3rem .5rem;
    border-radius: .2rem;
    border: none;
    width: inherit;
    max-height: 2.5rem;
    background: transparent;
    border: 2px solid #1db954;
    color: #1db954;
}

.add__button:disabled {
    background: #1db954;
    opacity: .5;
    cursor: not-allowed;
    color: #fff;
}

.add__button_added {
    background: #1db954;
    color: #fff;
}

.spinner {
    width: 24px;
    height: 24px;
    border: 2px solid #fff;
    border-top: 2px solid #1f91cf;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 768px) {
    .playlist {
        max-width: 100%;
    }

    .playlist__header {
        flex-direction: column;
        gap: 0;
    }

    .add__button {
        margin-bottom: 2rem;
    }
}